.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.floating-container {
  position: fixed; /* or absolute */
  top: 20%; /* Adjust as needed */
  right: 1%; /* Position at the rightmost side */
  transform: translateY(-50%);
  z-index: 9999; /* Ensure it's above other content */
  background-color: white; /* or any other color */
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(66, 58, 58, 0.623); /* Add a shadow for depth */
  max-width: calc(33.333% - 40px); /* One-third of the screen minus padding */
  width: 90%; /* Initial width */
}

@media (min-width: 768px) {
  .floating-container {
    max-width: calc(600px / 3); /* One-third of 600px */
  }
}

@media (min-width: 992px) {
  .floating-container {
    max-width: calc(800px / 3); /* One-third of 800px */
  }
}

.draggable {
  position: absolute;
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}





